
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
}